.outer-container {
    height: 100vh;
}
h1 {
    font-family: "Almendra", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 64px;
    color: var(--orange);
}
h2 {
    font-family: "Almendra", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}
h3 {
    font-family: "Almendra", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    color: var(--orange);
}
p {
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    color: var(--midnight-blue);
    margin: 0;
}
li {
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: var(--midnight-blue);
    margin: 0;
}

/* header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    margin: 0 3rem;
}

.message {
    display: none; /* Initially hidden */
    font-family: "Almendra", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    color: var(--orange);
}

.header-right {
    display: flex;
    gap: 1rem;
}
.header-right div {
    padding: 0 1rem;
    background-color: var(--blue);
    border: 1px solid var(--orange);
}
#timer {
    color: var(--orange);
    align-content: center;
}

/* Above Counter */
.above-counter-container {
    display: flex;
    gap: 1rem;
    height: 45vh;
    margin: 0 3rem;
    position: relative;
}
.above-counter-container div:nth-child(1) {
    flex: 40%;
}
.above-counter-container div:nth-child(2) {
    flex: 35%;
}
.above-counter-container div:nth-child(3) {
    flex: 25%;
}
/* Above Counter - Workstation */
.clock {
    margin: 3rem 0 0 5rem;
}
.action-animation {
    display: flex;
    justify-content: flex-end;
    visibility: hidden;
}
.shake {
    height: 30vh;
    transform: rotate(30deg);
    position: relative;
    bottom: 2rem;
}
.stir {
    height: 25vh;
    position: relative;
    top: 1rem;
}
/* Above Counter - Serving*/
.serving {
    position: fixed;
    bottom: -10px;
    margin: 3rem 0 0 6rem;
    display: none;
}
.serving-top {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 3rem;
    visibility: hidden;
}
.cocktail {
    position: relative;
    top: 3rem;
    visibility: hidden;
}
.bartender {
    position: relative;
    right: 12rem;
    visibility: hidden;
    /* top: 3rem; */
}
.bartender img{
    width: 300px;
}
/* Above Counter - Customer */
.order {
    padding: 1rem 2rem;
    /* background-image: url( '/assets/speech_bubble_customer.svg' );
    background-repeat: no-repeat; */
    position: relative;
    background-color: var(--gray);
    display: inline-block;
}
.order::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 150px;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid var(--gray);
    transform: rotate(-10deg);
}
.character {
    display: flex;
    justify-content: flex-end;
    position: relative;
    /* bottom: 2.5rem; */
}
.character img{
    height: 320px;
}

.instruction-outer-container {
    background-color: var(--gray);
    padding: 1rem 0 1rem 3rem;
}

/* Counter */
.counter {
    height: 5vh;
    background-color: var(--midnight-blue);
}

/* Under Counter */
.under-counter-container {
    height: 30vh;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    margin: 0 3rem;
}
.under-counter-bar-stock {
    flex: 70%;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.under-counter-bar-stock div {
    flex: 1;
}

.under-counter-garnish{
    flex: 20%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.under-counter-garnish div {
    display: flex;
    justify-content: space-between;
}

.under-counter-action {
    flex: 10%;
    display: flex;
    flex-direction: column;
}

.under-counter-action div {
    flex: 1;
    margin: 1rem;
}